/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Set background color and text color for the entire page */
body {
    background:  #fcdf88;
    color: #FF6B6B; /* Pink text color */
}

/* Style the header */
header {
    background-color: #fcee72; /* yellow background */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Center the content container */
#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFAF0; /* Ivory background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the image to be responsive */
img {
    max-width: 100%;
    height: auto;
}

/* Center the heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FF6B6B; /* Pink text color */
}

/* Style the description */
.description {
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFAF0; /* Ivory background */
    text-align: justify;
    color: #FF6B6B; /* Pink text color */
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Style table rows */
tr {
    border-bottom: 1px solid #FFD700; /* Yellow border */
}

/* Style table cells */
td {
    padding: 10px;
    text-align: left;
}

/* Add some background color to even rows */
tr:nth-child(even) {
    background-color: #FFFAF0; /* Ivory background */
}
